@import 'variables'
.source-icon
  width 3rem
  height 3rem
  background-size cover
  text-indent -1000rem
  overflow hidden
  margin 0 auto
.walkin
  background-image url(./public/img/icons/walkin.svg)
  width 40px
  height 28px
.telephone
  background-image url(./public/img/icons/phone-office-duotone.svg)
  width 34px
  height 30px
.email
  background-image url(./public/img/icons/email-duo.svg)
  width 35px
  height 35px
.fixflo
  background-image url(./public/img/fixflo-logo.svg)
  width 60px
  height 30px
.icn-house
  background-image url(./public/img/vs_house.png)
.sorting.desc
  background-image url(./public/img/icons/sort-amount-down-alt-light.svg)
.sorting
  background-image url(./public/img/icons/sort-amount-up-alt-light.svg)
  background-repeat no-repeat
  background-position right
  background-size 25px
.pipeline-logo
  max-height 30px
  border-radius 5px
  margin-right 10px