body
  .reveal-modal-bg, 
  .reveal-modal-bg.fade
    height auto
    &.in
      background rgba(0,0,0,0.3)
      opacity 1
      height 100vh
  .reveal-modal
    position absolute !important
    z-index 10000000
    width 95%
    &.large
      max-width 900px
    &.fade
      overflow hidden
      box-shadow 4px 4px 4px 0 rgba(0,0,0,.05)
      border none
      border-radius 30px
      top 20px
      height auto
      h1
        margin: 10px 0px
      &.in
        opacity 1
        .modal 
          background white
          display flex
          flex-direction column
          height auto  
          position relative
          &.issue-delete,
          &.issue-book,
          &.landlord-delete
            padding 30px
      .modal-header
        background vs-body
        flex-direction column
        padding 10px 40px
        .snapshot
          display flex
          flex-direction row
          gap 15px
      .close-reveal-modal
        color vs-grey
        font-size 3.5rem
        top 20px
        right 20px
        &:hover
          color vs-orange
    table 
      a 
        color vs-grey
        font-weight 600
        &:hover
          color vs-orange
    .add-lead-modal,
    .contractor-modal,
    .landlord-modal
      .modal-header
        padding 20px 40px
        h2
          font-size 2.4rem
          font-weight 600
          margin-bottom 0px
      .modal-body
        padding 40px 40px 20px
 .modal .form-row 
    h3
      font-weight 600
      margin-top 15px
      margin-bottom 5px
