vs-orange = #f15b25
vs-grey = #333333
vs-green = #00A685
vs-amber = orange
vs-red = #f12540
vs-lightgrey = #ccc
vs-tablegrey = #f5f5f5
vs-white = #fbfbfb
vs-brightwhite = #fdfdfd
vs-body = #f1f1f1
vs-text = #333333
vs-link = #44789f
vs-silver = #9ca4ab
vs-lightsilver = #e7eef3
vs-red = #bd1622
vs-warning = #d17b36

