
vs-table()
  tr.has-feedback, tr.has-notes
    cursor pointer
    &.open 
      background rgba(241, 91, 37, 0.3)
  td.status 
    color vs-orange
  tr.open
    td
      border-bottom 1px solid rgba(0,0,0,0)
  tr.popout
    td
      padding 0
      .feedback-container, .notes-container
        padding 0 20px
        background #f1f1f1
        transition max-height .8s
        transition-timing-function cubic-bezier(0.5, 0, 1, 0)
        transition-delay 0s
        overflow hidden
        max-height 9999px
        &.ng-hide
          max-height 0
          display block!important
          transition-timing-function cubic-bezier(0,1,0,1)
          transition-delay -.1s
      .feedback-header, .notes-header
        margin 1em 0
        padding 0
        border-bottom 1px solid vs-orange
      .feedback-item, .notes-item
        margin-bottom 1em
        background #fefefe
        padding 20px
      p
        padding 0
        margin 0  
collapse-table()
  table
    label
      display none
  @media screen and (max-width: 800px)
    table
      border none
    thead, th
      display none
    td, tr
      width 100%!important
      box-sizing border-box
    tr
      display flex
      flex-wrap wrap
      margin-bottom 2rem
      border 1px solid #ccc
    .half
      width 50%!important
    label
      display block !important
      font-size 1rem
    .popout
      border none
      td
        border none

vs-orange = #f15b25
vs-grey = #464e53
vs-green = #25af4a
vs-amber = orange
vs-red = #c7152d
vs-lightgrey = #ccc