
<div class="works-route route"> 
  <div class="container-xl">
    <div class="row align-items-center">
      <div class="col-xl-6">
        <h1><i class="fa-duotone fa-light fa-clipboard-check"></i> {{ mml('works-heading') }}</h1>
      </div>
      <div class="col-xl-6 text-xl-end d-flex align-items-center search-row">
        <input type="text" ng-model="mysearch.$like" placeholder="Search Works Orders" ng-change="page=1"/>
        <div class="button-row">
          <button ng-click="openAddIssueModal()" class="button button-alt orange-button">{{ mml('issues-button-new') }} <i class="fas fa-plus"></i></button>
          <button type="button" ng-click="openAddWorksOrderModal()" class="button button-grey">New works order <i class="fas fa-plus"></i></button>
        </div>
      </div>
    </div>

    <div class="controls">
      <div class="row">
        <div class="col-lg-6">
          <div class="sort">Order By:<br>
            <a class="order-item" href="" ng-click="sort.set('date')" ng-class="sort.class('date')">Date</a>
            <a class="order-item" href="" ng-click="sort.set('address')" ng-class="sort.class('address')">Address</a>
            <a class="order-item" href="" ng-click="sort.set('contractorName')" ng-class="sort.class('contractorName')">Contractor</a>
            <a class="order-item" href="" ng-click="sort.set('status')" ng-class="sort.class('status')">Status</a>
          </div>
        </div>
        <div class="col-lg-6 text-end">
          <div class="showing">Showing {{issues.items.length}} of {{issues.total}} works order{{issues.total!==1?'s':''}}</div>
        </div>
      </div>
    </div>

    <div class="properties-list" ng-show="issues.items.length > 0">
      <div class="property-card" ng-repeat="issue in issues.items">
        <div class="property-main row g-lg-5 g-2">
          
          <div class="property-info col-md-9">
            <div class="property-meta">
              <div class="property-address">
                <strong>Address:</strong> 
                <a ui-sref="maintenance_leads_issue({_id:issue._id})">
                  {{ issue.address }}
                </a>
              </div>
              <div class="status-badge" ng-class="issue.status">
              <div class="booked"> 
                <div class="fad fa-file-medical"></div>
              </div>
              <div class="completed">
                <div class="fad fa-file-check"></div>
              </div>
              <div class="invoiced">
                <div class="fad fa-thumbs-up"></div>
              </div>
            </div>
            </div>

            <div class="lead-details">
              <p class="applicant-info"><i class="fa-duotone fa-light fa-user"></i> <strong>Tenant:</strong> {{issue.tenant}}</p>
              <p class="applicant-info" ng-show="issue.contractorName"><i class="fa-duotone fa-light fa-hard-hat"></i> <strong>Contractor:</strong> {{issue.contractorName}}</p>
              <p class="applicant-info"><i class="fa-duotone fa-light fa-clipboard"></i> <strong>Title:</strong> {{issue.title}}</p>
            </div>
          </div>
          
          <div class="property-stats-actions col-md-3">
            <div ng-show="issue.media.length" ng-click="showLightbox(issue.media)" class="media-badge"><i class="fad fa-camera-retro"></i></div>
            <div ng-if="issue.newMessages > 0" class="messages-badge" ng-class="{newmessage:issue.newMessages > 0}">{{issue.newMessages}}</div>
            <div class="property-vendor">
              <div class="label"><i class="fa-duotone fa-light fa-calendar-check"></i> Date</div>
              <div class="value">{{issue.date | date:'dd/MM/yy HH:mm'}}</div>
            </div>

            <div class="property-actions">
              <button class="button" ui-sref="maintenance_leads_issue({_id:issue._id})">View Works Order <i class="fa-light fa-duotone fa-eye"></i></button>
            </div>
          </div>
          
        </div>
      </div>
    </div>

    <div class="empty-table" ng-show="!issues.items.length">{{ mml('works-empty-table') }}</div>
    <pagination ng-model="issues.args.page" total="issues.total" page-size="issues.args.pageSize"></pagination>
  </div>
</div>