<div class="client-management-list epc-management-list coming-soon">
  <div class="container-xl">
    <div class="row align-items-center">
      <div class="col-md-8">
        <h1>New Instruction</h1>
      </div>
      <div class="col-md-4 search d-flex justify-content-end">
      </div>
    </div>
    
    <div class="row">
      <div class="col-lg-8 col-md-10 col-sm-12">
        <form name="myForm" ng-submit="save()">
          <div class="form-holder">
            <!-- Property Info -->
            <div class="form-field">
              <label class="form-label mb-0">Property Address</label>
              <input type="text" ng-model="instruction.item.address" id="address" placeholder="Property Address">
            </div>
            <div class="form-field">
              <label class="form-label mb-0">Vendor's Name</label>
              <input type="text" ng-model="instruction.item.vendorsName" id="vendorsName" placeholder="Vendor's Name">
            </div>
            <!-- Onboarding Steps -->
            <div class="form-field">
              <label class="form-label mb-0">Asking Price (£)</label>
              <input type="number" ng-model="instruction.item.askingPrice" id="askingPrice" placeholder="Asking Price">
            </div>
            <div class="form-field">
              <label class="form-label mb-0">Fee (£) excluding VAT</label>
              <input type="number" ng-model="instruction.item.fee" id="fee" placeholder="Fee">
            </div>

            <!-- Actions -->
            <button ng-click="save()">Add Instruction</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>