.chain-item
  display flex
  flex-direction column
  align-items center
  width 100%
  .inner
    width 100%
    chain-box()
    h3,
    .chain-notes
    h3
      margin-bottom 5px
    .chain-controls
      display flex
      align-items center
      margin-top 3px
      a
        color vs-orange
    .chain-edit
      form
        display flex
        flex-direction column
        min-width 300px
        .CodeMirror
          height 160px