.mobile-menu
  position fixed
  top 71px
  width 180px
  right 0
  z-index 0
  ul
    list-style-type none
    margin 0!important
    padding 0!important
    li
      border-bottom 1px solid #525252
      a 
        font-size 1.6rem
        text-transform uppercase
        color white
        padding 15px 20px 10px 20px
        display block
        z-index 1
        img
          display inline-block
          width 10px
      &.selected, &:hover
        background #eee
        a
          color vs-orange
.mobile
  .mobile-menu
    overflow-Y scroll
    height calc(100vh - 71px)