.progression
  border 1px solid vs-lightgrey
  padding 20px
  margin 10px 0
  border-radius 30px
  background white
  .heading
    margin-bottom 30px
  .controls
    border 1px solid vs-lightgrey
    border-radius 20px
    padding 5px 10px
    display: inline-flex;
    justify-content center;
    gap 3px
    a 
      color vs-grey
      font-size: 1.6rem
  .milestones
    display flex
    flex-wrap wrap
    justify-content space-between
    align-items center
    position relative
    canvas
      position absolute
      top 0
      left 0
      width 100%
      height 100%
      z-index 0
    .branch
      display flex
      flex-direction column
      justify-content center
      align-items center
      z-index 2
      &.new
        flex 1
        align-items flex-start
      .new-milestone
        width 30px
        height 30px
        line-height 30px
        text-align center
        background vs-lightgrey
        border-radius 50%
        margin-bottom 30px
        opacity 0.2
        &.hidden
          visibility hidden
          pointer-events none
      &:hover
        .new-milestone
          opacity 1
  .save, .new-milestone, .branch.new
    display none
  &.editing
    .save, .new-milestone, .branch.new
      display block
    .branch
      margin-right 2rem