.modal.request-email
  padding 1.6rem 3rem 3rem 3rem
  .form-item
    display flex
    margin-bottom 1.6rem
  input[type=text], input[type=email]
    vs-input()
    width 100%
  input[type=submit], button
    vs-button()
  i.fas 
    color vs-orange
    font-size 2rem
    padding-right 10px
    vertical-align bottom