

<div class="sms-templates">
  <div class="container-xl">
    <div class="row align-items-center">
      <div class="col-md-8">
        <h1><i class="fa-duotone fa-light fa-message-sms"></i> SMS Templates</h1>
      </div>
    </div>
    <div class="row">
      <div class="accordion" id="template-accordion">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Make An Offer
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#template-accordion">
            <div class="accordion-body">
              <div class="card">
                <div class="card-actions">
                  <span class="copy-status">Copied <i class="fa-duotone fa-light fa-clipboard-check"></i></span>
                  <button class="copy-button" type="button" ng-click="copyTemplate($event)">Copy <i class="fa-duotone fa-light fa-copy"></i></button>
                </div>
                <div class="template-content"><code>https://vitalspace.co.uk/offer/</code></div>
              </div>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Chasing Outstanding Solicitors
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#template-accordion">
            <div class="accordion-body">
              <div class="card">
                <div class="card-actions">
                  <span class="copy-status">Copied <i class="fa-duotone fa-light fa-clipboard-check"></i></span>
                  <button class="copy-button" type="button" ng-click="copyTemplate($event)">Copy <i class="fa-duotone fa-light fa-copy"></i></button>
                </div>
                <div class="template-content"><code>https://vitalspace.co.uk/request-for-solicitor-details/</code></div>
              </div>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              Arrange a survey
            </button>
          </h2>
          <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#template-accordion">
            <div class="accordion-body">
              <div class="card">
                <div class="card-actions">
                  <span class="copy-status">Copied <i class="fa-duotone fa-light fa-clipboard-check"></i> </span>
                  <button class="copy-button" type="button" ng-click="copyTemplate($event)">Copy <i class="fa-duotone fa-light fa-copy"></i></button>
                </div>
                <div class="template-content"><code>https://vitalspace.co.uk/arrange-a-survey/</code></div>
              </div>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingFour">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
              Property Misdescriptions
            </button>
          </h2>
          <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#template-accordion">
            <div class="accordion-body">
              <div class="card">
                <div class="card-actions">
                  <span class="copy-status">Copied <i class="fa-duotone fa-light fa-clipboard-check"></i> </span>
                  <button class="copy-button" type="button" ng-click="copyTemplate($event)">Copy <i class="fa-duotone fa-light fa-copy"></i></button>
                </div>
                <div class="template-content">
                  <p>Good Afternoon</p>
                  <p>I do hope you are well.</p>
                  <p>I am sorry to trouble you, but we have conducted an internal review on your property file and notice that you have not as yet completed and returned our Property Misdescriptions Act sign off form.</p>
                  <p>Could you kindly visit the below web link to sign off your marketing material</p>
                  <p><a href="https://vitalspace.co.uk/property-misdescriptions-act/" target="_blank">https://vitalspace.co.uk/property-misdescriptions-act/</a></p>
                  <p>Thanking you in advance.</p>
                  <p>Regards</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingFive">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
              EPC
            </button>
          </h2>
          <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#template-accordion">
            <div class="accordion-body">
              <div class="card">
                <div class="card-actions">
                  <span class="copy-status">Copied <i class="fa-duotone fa-light fa-clipboard-check"></i> </span>
                  <button class="copy-button" type="button" ng-click="copyTemplate($event)">Copy <i class="fa-duotone fa-light fa-copy"></i></button>
                </div>
                <div class="template-content">
                  <p>Good Morning</p>
                  <p>I do hope you are well.</p>
                  <p>I’ve noticed on your property the EPC (energy performance certificate) has expired, to sell your property it is a legal requirement to have an up-to-date EPC certificate when marketing your property for sale. I have arranged for our EPC assessor, Jay to contact you directly to arrange a date and time to visit your property to carry out the report.</p>
                  <p>Thank you</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingSix">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
              EPC to Solicitors/Property Particulars
            </button>
          </h2>
          <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#template-accordion">
            <div class="accordion-body">
              <div class="card">
                <div class="card-actions">
                  <span class="copy-status">Copied <i class="fa-duotone fa-light fa-clipboard-check"></i> </span>
                  <button class="copy-button" type="button" ng-click="copyTemplate($event)">Copy <i class="fa-duotone fa-light fa-copy"></i></button>
                </div>
                <div class="template-content">
                  <p>Good Afternoon</p>
                  <p>Further to the recent agreed sale on the above mentioned property, please find both a link to the property particulars and the EPC. </p>
                  <h3>EPC</h3>
                  <p>INSERT LINK</p>
                  <h3>Property Particulars</h3>
                  <p>INSERT LINK</p>
                  <p>In the event you require any assistance during this transaction, we can be contacted via <a href="mailto:progression@vitalspace.co.uk" target="_blank">progression@vitalspace.co.uk</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingSeven">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
              New Sales Listing
            </button>
          </h2>
          <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven" data-bs-parent="#template-accordion">
            <div class="accordion-body">
              <div class="card">
                <div class="card-actions">
                  <span class="copy-status">Copied <i class="fa-duotone fa-light fa-clipboard-check"></i> </span>
                  <button class="copy-button" type="button" ng-click="copyTemplate($event)">Copy <i class="fa-duotone fa-light fa-copy"></i></button>
                </div>
                <div class="template-content">
                  <p>Good Evening</p>
                  <p>I do hope you are well.</p>  
                  <p>As instructed, I take pleasure in showcasing all marketing material for ******* which can be found below:</p>
                  <p><em>ENTER LINK</em></p>
                  <p>I will now start with our social media advertising campaign whilst your property sync’s to all major marketing portals.</p>    
                  <p>It is also possible for you to keep updated on viewings and all feedback via our client login portal. Simply login with the below details and any viewings alongside feedback will be available for you to review.</p>
                  <p><a href="https://myproperty.vitalspace.co.uk/" target="_blank">https://myproperty.vitalspace.co.uk/</a></p>
                  <p>User – <em>ENTER EMAIL</em></p>
                  <p>Password – <em>ENTER PASSWORD</em></p> 
                  <p>In order to sync your property to all major marketing portals, we require all client to sign off their marketing material - please kindly visit the below web page in order to do so</p>   
                  <p><a href="https://vitalspace.co.uk/property-misdescriptions-act/" target="_blank">https://vitalspace.co.uk/property-misdescriptions-act/</a></p>                   
                  <p>Please do not hesitate to contact myself or my team at any time via this group chat facility. </p>
                  <p>Regards Richard @ VitalSpace (Director)</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingEight">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
              You Tube
            </button>
          </h2>
          <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight" data-bs-parent="#template-accordion">
            <div class="accordion-body">
              <div class="card">
                <div class="card-actions">
                  <span class="copy-status">Copied <i class="fa-duotone fa-light fa-clipboard-check"></i> </span>
                  <button class="copy-button" type="button" ng-click="copyTemplate($event)">Copy <i class="fa-duotone fa-light fa-copy"></i></button>
                </div>
                <div class="template-content">
                  <p>Video produced by VitalSpace Estate Agents - <a href="https://vitalspace.co.uk/" target="_blank">www.vitalspace.co.uk</a></p>
                  <p>For more information contact VitalSpace via email – <a href="mailto:hello@vitalspace.co.uk">hello@vitalspace.co.uk</a> For more information, such as floorplans, luxury features photos and more on this Urmston home visit <a href="https://vitalspace.co.uk/" target="_blank">https://www.vitalspace.co.uk</a>   
                  <p>**Subscribe** to our channel for more videos: <a href="https://www.youtube.com/user/VitalSpaceEA" target="_blank">https://www.youtube.com/user/VitalSpaceEA</a>
                  <p>Follow VitalSpace on Social Media: 
                  <p>Facebook: <a href="https://www.facebook.com/VitalSpaceEstateAgents/" target="_blank">https://www.facebook.com/VitalSpaceEstateAgents/</a> 
                  <p>Instagram: <a href="https://www.instagram.com/vitalspace/" target="_blank">https://www.instagram.com/vitalspace/</a> 
                  <p>Twitter: <a href="https://twitter.com/VitalSpace " target="_blank">https://twitter.com/VitalSpace </a>
                  <p>VitalSpace Estate Agents<br>22 Flixton Road<br>Urmston<br>Manchester<br>M41 5AA</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>