@import './css/**/*.styl'
@import './sites/**/*.styl'

body.agency_*
  color red

::-webkit-scrollbar
  width 8px
::-webkit-scrollbar-track
  background vs-white
  border-radius 10px
  border 1px solid vs-lightgrey
::-webkit-scrollbar-thumb
  background vs-body
  border-radius 10px
  border 2px solid vs-lightgrey
::-webkit-scrollbar-thumb:hover 
  background #555
input 
  -webkit-appearance none
