invited, forgot
  display flex
  justify-content center
  margin-top 7em
  .invited, .forgot
    max-width 40em
  .controls
    display flex
    justify-content flex-end
  .error
    display inline-block
    color red
    background white
    padding 0 .8em
    margin 0 .2em
    font-size .9em