
<div class="setup">
  <div class="email-templates">
    <h2>Email templates</h2>
    <div class="email-template" ng-repeat="template in emailTemplates.items"><a class="name" ui-sref="template({id:template._id,type:'email'})">{{template.name}}</a>
      <div class="delete"><a href="" ng-click="emailTemplates.delete(template)"><i class="far fa-times-circle" aria-hidden="true"></i></a></div>
    </div>
  </div>
  <div>
    <a class="add-email-template" ui-sref="template({id:'new',type:'email'})">Add email template</a>
  </div>
        
</div>