.mortgages
  a(href='/').backlink 
    i.fa.fa-long-arrow-left(aria-hidden='true')  
    |  Dashboard
  .row
    .col-sm-6
      h2 Mortgage brokers and lenders
      p
        | Finding the right home can be time consuming enough. This may stop you giving up your valuable time to search for the best mortgage!
      p
        | Thanks to a good working relationship between VitalSpace and carefully selected Independent mortgage brokers and lenders, one conversation could give you access to the entire market place covering all the high street lenders.
      p
        | This service is offered with no cost to you even if you decide to buy a property through another Estate Agency.
      p
        | The Financial Advisors we recommend offer unbiased Mortgage consultancy and have access to the whole mortgage market so whatever your situation, they aim to provide the most suitable mortgage for your specific needs and circumstances. They have access to some exclusive deals that are not available from high street lenders. We work closely alongside 
        strong independent local mortgage brokers and lenders
        |  in an aim to provide a ‘One-stop’ shop of services to ensure that all financial needs are catered for helping to save you the hassle and time of shopping around yourself.
      a(href='http://vitalspace.co.uk/mortgage-information', target='_blank').medium.orange.button
        i.fa.fa-external-link(aria-hidden='true')
        | Request Mortgage Information

    .col-sm-6
      h2 Which Mortgage suits you best?
      p
        strong
          span.orange Variable rate mortgage:
        |  a mortgage loan where the interest rate varies to reflect market conditions
        br
        | Fixed rate mortgage : a mortgage loan where the interest rate remains the same throughout the term of the loan
      p
        strong
          span.orange Tracker rate mortgage:
        |  a mortgage loan where the interest rate changes in accordance with any fluctuations – up or down
      p
        strong
          span.orange Offset mortgage:
        |  a mortgage where interest on any savings you may have is offset against the mortgage interest charged, therefore reducing the mortgage payment or shrinking the mortgage term.
      p
        em.purple Please note:
        |  All of the mortgage brokers and lenders that we recommend are carefully checked by means of the regular feedback that we obtain from clients.
      p
        | Contact VitalSpace and one of our recommended advisors will research the market, talk to the lenders and compare current offers available to ensure that they find the most suitable mortgage product for you.
      p
        | If you would like a helpful brochure giving advice on the many different mortgages available, or would like a Financial Advisor to call you, please kindly visit our main website and complete our Mortgage Information form:
