.advance-progression
  box-sizing border-box
  padding 0 2rem
  h1, h2
    text-align center
  .form-item
    display flex
    label
      flex 1
    .input, input, .CodeMirror
      flex 3
      margin-bottom 1rem
    .CodeMirror
      max-height 160px
      border 1px solid vs-lightgrey
  .button
    vs-button()