.reports
  a(href='/').backlink 
    i.fa.fa-long-arrow-left(aria-hidden='true')  
    |  Dashboard
  .property(ng-repeat='property in getProperties()' ng-hide='!property.details.Address')
    h5.loading(ng-show='property.loading') Contacting Dezrez
    a(href='/{{property.id}}/overview', ng-hide='property.error || property.loading')
      .property-item
        .property-details
          h2 {{property.Address.Number}} {{property.Address.Street }}, {{property.Address.Locality }}, {{property.Address.Town}}
    .header
      .info
        h2 
          i.mortgage
          |  Property Report
        p Date Instructed 
          span {{property.details.DateInstructed | date:'mediumDate'}}
    .row.results
      .col-md-3.col-sm-6
        i.vs-iconsale
        p {{property.details.DateInstructed | daysSince}}
        p.small On Market
      .col-md-3.col-sm-6(ng-show='!loading("all")')
        i.vs-iconstaff
        p {{property.viewings.length}}
        p.small Viewings Arranged
      .col-md-3.col-sm-6(ng-show='!loading("all")')
        i.vs-iconstaff
        p {{property | viewingContacted}}
        p.small Viewings Conducted
      .col-md-3.col-sm-6(ng-show='!loading("all")')
        i.guarantor
        p {{property | getFeedbackCount}}
        p.small Feedback Received
      .col-md-3.col-sm-6
        i.mail
        p {{property.mailouts}}
        p.small Mail Outs
      .col-md-3.col-sm-6
        i.vs-iconphoto
        p {{property.details.Images.length}}
        p.small Photographs
      .col-md-3.col-sm-6
        i.vs-iconvideo
        p {{ property | hasDocument:'Virtual Tour' }}
        p.small Video Walkthrough
      .col-md-3.col-sm-6
        i.offer
        p {{property.offers.length}}
        p.small Offers Received
    
    .rightmove-stats
      .info
        img(src="../../public/img/rm-logo.svg" width="300")
        p Online Stats - Updated 
          span {{property.portals.RightmoveRTDF.RightmoveStatsLastExportedDate | date:'mediumDate'}}
    .row.stats
      .col-md-3.col-sm-6
        i.vs-iconsearch
        p {{property.portals.RightmoveRTDF.TotalSummaryViews}}
        p.small Summary Views
      .col-md-3.col-sm-6
        i.vs-icondocument
        p {{property.portals.RightmoveRTDF.TotalDetailedViews}}
        p.small Detail Views
      .col-md-3.col-sm-6
        i.reserving
        p {{property.portals.RightmoveRTDF.IsCurrentlyAPremiumListing ? 'Yes' : 'No'}}
        p.small Premium Listing
      .col-md-3.col-sm-6
        i.vs-iconthumb
        p {{property.portals.RightmoveRTDF.IsCurrentlyAFeaturedProperty ? 'Yes' : 'No'}}
        p.small Feature Property