
<div class="case">
  <div class="container-xl">
    
    <!-- Property Summary Section -->
    <div class="col-xs-12 property-summary">
      <div class="header-row">
        <h1><i class="fa-duotone fa-light fa-eye"></i> Case Overview</h1>
        <nav>
            <a href="#documents"><i class="fa-duotone fa-light fa-file-lines"></i> Documents &amp; Chain</a>
            <a href="#admin" ng-show="propertyadmin.item.RoleId"><i class="fa-duotone fa-light fa-gear"></i> Admin</a>
            <a href="#contacts"><i class="fa-duotone fa-light fa-address-book"></i> Contacts</a>
            <a href="#notes"><i class="fa-duotone fa-light fa-note-sticky"></i> Case Notes</a>
        </nav>
      </div>
      <div class="property">
        <div class="row">
          <div class="col-md-5">
            <a ui-sref="agency_property({id:property.item._id})">
              <div class="property-image" ng-class="{'no-milestone': !(property.item.$case.item.milestone && property.item.$case.item.milestone.title)}">
                <img ng-src="{{property.item.Images[0].Url}}" alt="{{property.item.displayAddress}}">
                <div class="property-milestone">
                  <div class="milestone" ng-class="property.item.$case.item.cssMilestone" title="{{property.item.$case.item.milestone.title}}">
                    <div class="icon {{ property.item.$case.item.milestone.icon || 'house'}}"></div>
                  </div>
                  <span ng-if="property.item.$case.item.milestone.title" class="milestone-title">{{property.item.$case.item.milestone.title}}</span>
                </div>
              </div>
            </a>
            <div class="property-report">
              <div class="results">
                <div class="result">
                  <i class="fa-duotone fa-light fa-sitemap"></i>
                  <p>
                    <span>{{property.item.$case.item.pipeline || 'Vitalspace'}}</span>
                    Pipeline
                  </p>
                </div>
              </div>
            </div>
          </div>
          
          <div class="col-md-1"></div>
          
          <div class="col-md-6">
            <h4>{{property.item.$case.item.override.address || property.item.displayAddress}}</h4>
            <p class="financial-item">Fee
              <span class="value" ng-show="property.item.Fees[0].FeeValueType.SystemName==='Absolute'">{{ property.item.Fees[0].DefaultValue | currency : "£" : 0 }} + VAT</span>
              <span class="value" ng-show="property.item.Fees[0].FeeValueType.SystemName==='Percentage'">{{ property.item.$case.item.offer.Value * (property.item.Fees[0].DefaultValue / 100) | currency : "£" : 0 }} + VAT</span>
            </p>
            <p class="financial-item">Offer Price
              <span class="value">{{property.item.$case.item.offer.Value | currency : "£" : 0}}</span>
            </p>
            <p class="date-instructed">Offer Accepted 
              <span ng-show="property.item.$case.item.offer.DateTime">{{property.item.$case.item.offer.DateTime | date:'mediumDate'}}</span>
            </p>
            <div class="property-report">
              <div class="results">
                <div class="result vendor-result">
                  <i class="fa-duotone fa-light fa-user-tie"></i>
                  <p>
                    <span>{{property.item.$case.item.vendor}}</span>
                    Vendor
                  </p>
                </div>
                <div class="result purchaser-result">
                  <i class="fa-duotone fa-light fa-user-check"></i>
                  <p>
                    <span>{{property.item.$case.item.purchaser}}</span>
                    Purchaser
                  </p>
                </div>
                <div class="result" ng-show="property.item.$case.item.consultant">
                  <i class="fa-duotone fa-light fa-circle-user"></i>
                  <p>
                    <span>{{getConsultantName(property.item.$case.item.consultant)}}</span>
                    Consultant
                  </p>
                </div>
               <!-- This needs adding -->
                <div class="result" ng-show="propertyadmin.item.instructionToMarket.instructedBy">
                  <i class="fa-light fa-circle-user"></i>
                  <p>
                    <span>{{getConsultantName(propertyadmin.item.instructionToMarket.instructedBy)}}</span>
                    Valuer
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Property Summary Section -->
    
    <div class="row case-progressions case-row">
      <div class="col">
        <h2><i class="fa-duotone fa-light fa-timeline-arrow"></i> Progressions</h2>
        <h2 ng-show="property.item.$case.item.override.reason===&quot;fallenThrough&quot;">Fallen through</h2>
        <div class="advance-request" ng-repeat="request in property.item.$case.item.advanceRequests | filter:{dismissed:&quot;!true&quot;,applied:&quot;!true&quot;}">
          <div class="left">Requested to be advanced to {{request.advanceTo | date:'mediumDate'}} by <img gravatar-src="request.user.local.email"/>{{request.user.displayName || request.user.local.email}}</div>
          <div class="admin-request" ng-show="auth.checkRoles([&quot;superadmin&quot;, &quot;admin&quot;])">
            <button ng-click="applyRequest(request)">Apply</button>
            <button ng-click="request.dismissed=true;property.item.$case.save()">Dismiss</button>
          </div>
        </div>
        <agency-progression ng-repeat="progression in property.item.$case.item.progressions" data="progression"></agency-progression>
        <div class="row">
          <div class="col-sm-6">
            <button class="has-dropdown" ng-focus="progBtnFocussed=true" ng-blur="hideDropdown(&quot;progBtnFocussed&quot;)" ng-show="auth.checkRoles([&quot;superadmin&quot;, &quot;admin&quot;])">Add Progression</button>
            <ul class="dropdown" ng-show="progBtnFocussed">
              <li ng-repeat="progression in progressions.items"><a href="" ng-click="addProgression(progression)">{{progression.name}}, {{progression.side}}</a></li>
            </ul>
            <button ng-hide="auth.checkRoles([&quot;superadmin&quot;, &quot;admin&quot;])" ng-click="advanceProgression()">Advance all milestones</button>
            <button ng-show="auth.checkRoles([&quot;superadmin&quot;, &quot;admin&quot;])" ng-click="fallenThrough()">Fallen through</button>
          </div>
        </div>
      </div>
    </div>

    <div class="row g-5 docs-chain case-row" id="documents">
      <!-- Docs -->
      <div class="col-sm-6">
        <h2><i class="fa-duotone fa-light fa-file-certificate"></i> Documents <span ng-show="property.item.$case.item.documents.length">{{property.item.$case.item.documents.length}}</span></h2>
        <div class="documents-section">
          <div class="documents">
            <div class="document-list" ng-show="property.item.$case.item.documents.length">
              
              <div class="document" ng-repeat="document in property.item.$case.item.documents">
                <div class="document-icon-wrapper">
                  <a class="document-link" ng-href="{{makeDownloadUrl('agency',document)}}" target="_self" data-bs-toggle="tooltip" data-bs-placement="top" title="Created by {{document.user.local.email}} on {{document.date | date:'dd/MM/yy'}} at {{document.date | date:'shortTime'}}">
                    <img ng-src="{{makeDownloadUrl('agency',document)}}" ng-if="document.basetype===&quot;image&quot;"/>
                    <div class="document-icon {{document.basetype}}" ng-hide="document.basetype===&quot;image&quot;">
                      <i class="fa-light fa-duotone fa-file-lines"></i>
                    </div>
                  </a>
                </div>
                <div class="document-details">
                  <div class="filename">
                    <span ng-show="!document.editing">{{document.name || document.originalFilename}}</span>
                    <input type="text" ng-model="document.name" ng-show="document.editing" placeholder="Name"/>
                  </div>
                </div>
                <div class="document-actions" ng-show="auth.checkRoles([&quot;superadmin&quot;, &quot;admin&quot;])">
                  <a class="edit-icon" href="" ng-click="document.editing=!document.editing" ng-show="!document.editing" title="Edit">
                    <i class="fa-light fa-pen-to-square"></i>
                  </a>
                  <a class="save-icon" href="" ng-click="saveDocument(document)" ng-show="document.editing" title="Save">
                    <i class="fa-light fa-check"></i>
                  </a>
                  <a class="delete-icon" href="" ng-click="deleteDocument(document)" title="Delete">
                    <i class="fa-light fa-trash"></i>
                  </a>
                </div>
              </div>
            </div>
            <div class="drop-box" ngf-drop="uploadFiles($files)" ngf-drag-over-class="'dragover'" ngf-multiple="true">
              <div ng-hide="documentUploading">
                <h3>Drop files here to upload</h3>
                <button class="file-upload" type="file" ngf-select="uploadFiles($file, $invalidFiles)">Or click here to choose</button>
              </div>
              <div ng-show="documentUploading" class="uploading">
                <h3>Uploading</h3>
                <div class="progressBar">
                  <div class="bar" style="width: {{uploadProgress}}%"></div>
                </div>
              </div>
            </div>
          </div>

          <div class="contact-refresh" ng-hide="property.item.$case.item.vendorsSolicitor.name && property.item.$case.item.purchasersSolicitor.name">
            <h2><i class="fa-duotone fa-light fa-address-book"></i> Case Contacts</h2>
            <button ng-click="refreshDetails()" class="button">Refresh Details</button>
          </div>

          <div class="flex-pipeline">
            <h2><i class="fa-duotone fa-light fa-users"></i> Staff</h2>
            <div class="staff-selection">
              <label>Consultant&nbsp;</label>
              <select ng-model="property.item.$case.item.consultant" ng-change="property.item.$case.save()">
                <option value="">Staff Member</option>
                <option ng-repeat="consultant in consultants.items" ng-value="consultant._id">{{consultant.displayName}}</option>
              </select>
              <label>Pipeline&nbsp;</label>
              <select ng-model="property.item.$case.item.pipeline" ng-change="property.item.$case.save()">
                <option value="">Vitalspace</option>
                <option value="HOME">HOME</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <!-- Chain -->
      <div class="col-sm-6">
        <h2><i class="fa-duotone fa-light fa-arrow-progress"></i> Chain</h2>
        
        <div class="chain">
          <button class="add-chain" ng-click="addChain(property.item.$case.item.chainBuyer, &quot;buyer&quot;)">Add to chain</button>
          <div class="connector"></div>
          
          <chain-item ng-repeat="item in property.item.$case.item.chainBuyer | orderBy:&quot;-&quot;"></chain-item>
          
          <div class="current-property"> 
            <div class="image"><img ng-src="{{property.item.Images[0].Url}}"/></div>
            <div class="details">
              <div class="address">{{property.item.displayAddress}}</div>
              <div class="price">{{property.item.$case.item.offer.Value | currency: '£': 0}}</div>
            </div>
          </div>
          
          <div class="connector"></div>
          
          <chain-item ng-repeat="item in property.item.$case.item.chainSeller"></chain-item>
          
          <button class="add-chain" ng-click="addChain(property.item.$case.item.chainSeller, &quot;seller&quot;)">Add to chain</button>
        </div>
      </div>
    </div>


    <h2><i class="fa-duotone fa-light fa-gear"></i> Property Admin</h2>
    <div class="tabbed-section" ng-show="propertyadmin.item.RoleId" ng-init="showITM = true" id="admin">
      <ul class="nav-pills">
        <li ng-class="{active: showITM}" ng-click="showITM = true; showSSTC = showPR = showFT = showEC = showW = false"><i class="fa-light fa-sign-hanging"></i> Instruction To Market</li>
        <li ng-class="{active: showSSTC}" ng-click="showSSTC = true; showITM = showPR = showFT = showEC = showW = false"><i class="fa-duotone fa-light fa-sign-hanging"></i> Sold Subject To Contact</li>
        <li ng-class="{active: showPR}" ng-click="showPR = true; showITM = showSSTC = showFT = showEC = showW = false"><i class="fa-duotone fa-light fa-down-from-dotted-line"></i> Price Reduction</li>
        <li ng-class="{active: showFT}" ng-click="showFT = true; showITM = showSSTC = showPR = showEC = showW = false"><i class="fa-duotone fa-light fa-octagon-xmark"></i> Fallen Through</li>
        <li ng-class="{active: showEC}" ng-click="showEC = true; showITM = showSSTC = showPR = showFT = showW = false"><i class="fa-duotone fa-light fa-right-left"></i> Exchanged &amp; Completed</li>
        <li ng-class="{active: showW}" ng-click="showW = true; showITM = showSSTC = showPR = showFT = showEC = false"><i class="fa-duotone fa-light fa-u-turn-down-left"></i> Withdrawn</li>
      </ul>
      
      <div class="tab-content">
        <div class="instruction-to-market tab-pane" ng-show="showITM">
          <div class="row">
            <div class="col-md-3">
              <label>Update client details</label>
              <select ng-model="propertyadmin.item.instructionToMarket.updateClientDetails">
                <option>Yes</option>
                <option>No</option>
              </select>
            </div>
            <div class="col-md-3">
              <label>Board ordered date</label>
              <select ng-model="propertyadmin.item.instructionToMarket.boardOrderedDate" ng-if="!propertyadmin.item.instructionToMarket.boardOrderedDate">
                <option>No board</option>
                <option ng-repeat="date in boardDates" ng-value="date">{{date | date:'dd/MM/yyyy'}}</option>
              </select>
              <input type="text" disabled="true" value="{{propertyadmin.item.instructionToMarket.boardOrderedDate | date:'dd/MM/yyyy'}}" ng-if="propertyadmin.item.instructionToMarket.boardOrderedDate" />
            </div>
            <div class="col-md-3">
              <label>Windows card</label>
              <select ng-model="propertyadmin.item.instructionToMarket.windowsCard">
                <option>Yes</option>
                <option>No</option>
              </select>
            </div>
            <div class="col-md-3">
              <label>Epc ordered date</label>
              <select ng-model="propertyadmin.item.instructionToMarket.epcOrderedDate" ng-if="!propertyadmin.item.instructionToMarket.epcOrderedDate">
                <option ng-repeat="option in epcOptions" ng-value="option">{{option==='No'?option:(option | date:'dd/MM/yyyy')}}</option>
              </select>
              <input type="text" disabled="true" value="{{propertyadmin.item.instructionToMarket.epcOrderedDate | date:'dd/MM/yyyy'}}" ng-if="propertyadmin.item.instructionToMarket.epcOrderedDate" />
            </div>
            <div class="col-md-3">
              <label>Staff intro</label>
              <select ng-model="propertyadmin.item.instructionToMarket.staffIntro">
                <option>Yes</option>
                <option>No</option>
              </select>
            </div>
            <div class="col-md-3">
              <label>Misdescriptions Received</label>
              <select ng-model="propertyadmin.item.instructionToMarket.misdescriptionsReceived">
                <option>Yes</option>
                <option>No</option>
              </select>
            </div>
            <div class="col-md-3">
              <label>Snake</label>
              <select ng-model="propertyadmin.item.instructionToMarket.snake">
                <option>Yes</option>
                <option>No</option>
              </select>
            </div>
            <div class="col-md-3">
              <label>Instructed by</label>
              <select ng-model="propertyadmin.item.instructionToMarket.instructedBy">
                <option value="">Not instructed</option>
                <option ng-repeat="user in consultants.items" ng-value="user._id">{{user.displayName}}</option>
              </select>
            </div>
          </div>
          
          <div class="row actions">
            <div class="col-12">
              <div class="flex-end">
                <input class="button button-alt"  ng-click="clearITMDetails()" value="Clear" />
                <input type="button" ng-click="saveITMDetails()" value="Save" />
              </div>
            </div>
          </div>
        </div>
        
        <div class="sold-subject-to-contract tab-pane" ng-show="showSSTC">
          <div class="row">
            <div class="col-md-3">
              <label>Chain Updated On Conveyancing</label>
              <select ng-model="propertyadmin.item.soldSubjectToContract.chainUpdated">
                <option>Yes</option>
                <option>No</option>
              </select>
            </div>
            <div class="col-md-3">
              <label>Board Updated</label>
              <select ng-model="propertyadmin.item.soldSubjectToContract.boardUpdated" ng-if="!propertyadmin.item.soldSubjectToContract.boardUpdated">
                <option ng-repeat="option in ftOptions" ng-value="option">{{option==='No board'?option:(option | date:'dd/MM/yyyy')}}</option>
              </select>
              <input type="text" disabled="true" value="{{propertyadmin.item.soldSubjectToContract.boardUpdated | date:'dd/MM/yyyy'}}" ng-if="propertyadmin.item.soldSubjectToContract.boardUpdated" />
            </div>
            <div class="col-md-3">
              <label>Board Type</label>
              <select ng-model="propertyadmin.item.soldSubjectToContract.boardType">
                <option value="SOLD">Sold</option>
                <option value="SOLD_1_WEEK">Sold In One Week</option>
              </select>
            </div>
            <div class="col-md-3">
              <label>Memo of Sale Issued</label>
              <select ng-model="propertyadmin.item.soldSubjectToContract.memoOfSale">
                <option>Yes</option>
                <option>No</option>
              </select>
            </div>
            <div class="col-md-3">
              <label>Sold In Window</label>
              <select ng-model="propertyadmin.item.soldSubjectToContract.soldInWindow">
                <option>Yes</option>
                <option>No</option>
              </select>
            </div>
            <div class="col-md-3">
              <label>Property File Moved</label>
              <select ng-model="propertyadmin.item.soldSubjectToContract.propertyFile">
                <option>Yes</option>
                <option>No</option>
              </select>
            </div>
            <div class="col-md-3">
              <label>Whatsapp Group Created (V &amp; P)</label>
              <select ng-model="propertyadmin.item.soldSubjectToContract.whatsappGroup">
                <option>Yes</option>
                <option>No</option>
              </select>
            </div>
          </div>
          
          <div class="row actions">
            <div class="col-12">
              <div class="flex-end">
                <input class="button button-alt" ng-click="clearSSTCDetails()" value="Clear" />
                <input type="button" ng-click="saveSSTCDetails()" value="Save" />
              </div>
            </div>
          </div>
        </div>
        
        <div class="price-reduction tab-pane" ng-show="showPR">
          <div class="row">
            <div class="col-md-3">
              <label>New Price</label>
              <input type="text" ng-model="propertyadmin.item.priceReduction.newPrice" />
            </div>
            <div class="col-md-3">
              <label>Date Of Reduction</label>
              <input type="date" ng-model="propertyadmin.item.priceReduction.dateOfReduction" />
            </div>
            <div class="col-md-3">
              <label>New Window Card</label>
              <select ng-model="propertyadmin.item.priceReduction.newWindowCard">
                <option>Yes</option>
                <option>No</option>
              </select>
            </div>
            <div class="col-md-3">
              <label>Reduction Letter Sent</label>
              <select ng-model="propertyadmin.item.priceReduction.reductionLetterSent">
                <option>Yes</option>
                <option>No</option>
              </select>
            </div>
            <div class="col-md-3">
              <label>Dezrez Updated</label>
              <select ng-model="propertyadmin.item.priceReduction.dezrezUpdated">
                <option>Yes</option>
                <option>No</option>
              </select>
            </div>
            <div class="col-md-3">
              <label>Re-Matched</label>
              <select ng-model="propertyadmin.item.priceReduction.reMatched">
                <option>Yes</option>
                <option>No</option>
              </select>
            </div>
          </div>
          
          <div class="row actions">
            <div class="col-12">
              <div class="flex-end">
                <input class="button button-alt" ng-click="clearPRDetails()" value="Clear" />
                <input type="button" ng-click="savePRDetails()" value="Save" />
              </div>
            </div>
          </div>
        </div>
        
        <div class="fallen-through tab-pane" ng-show="showFT">
          <div class="row">
            <div class="col-md-3">
              <label>Date of Fall Through</label>
              <input type="date" ng-model="propertyadmin.item.fallenThrough.date" />
            </div>
            <div class="col-md-3">
              <label>Updated On Conveyancing</label>
              <select ng-model="propertyadmin.item.fallenThrough.updatedOnConveyancing">
                <option>Yes</option>
                <option>No</option>
              </select>
            </div>
            <div class="col-md-3">
              <label>Board Updated</label>
              <select ng-model="propertyadmin.item.fallenThrough.boardUpdated" ng-if="!propertyadmin.item.fallenThrough.boardUpdated">
                <option ng-repeat="option in ftOptions" ng-value="option">{{option==='No board'?option:(option | date:'dd/MM/yyyy')}}</option>
              </select>
              <input type="text" disabled="true" value="{{propertyadmin.item.fallenThrough.boardUpdated | date:'dd/MM/yyyy'}}" ng-if="propertyadmin.item.fallenThrough.boardUpdated" />
            </div>
            <div class="col-md-3">
              <label>Property Back In Window</label>
              <select ng-model="propertyadmin.item.fallenThrough.backInWindow">
                <option>Yes</option>
                <option>No</option>
              </select>
            </div>
            <div class="col-md-3">
              <label>Dezrez Updated</label>
              <select ng-model="propertyadmin.item.fallenThrough.dezrezUpdated">
                <option>Yes</option>
                <option>No</option>
              </select>
            </div>
            <div class="col-md-3">
              <label>Re-Matched</label>
              <select ng-model="propertyadmin.item.fallenThrough.reMatched">
                <option>Yes</option>
                <option>No</option>
              </select>
            </div>
            <div class="col-md-3">
              <label>Property File Moved</label>
              <select ng-model="propertyadmin.item.fallenThrough.fileMoved">
                <option>Yes</option>
                <option>No</option>
              </select>
            </div>
          </div>
          
          <div class="row actions">
            <div class="col-12">
              <div class="flex-end">
                <input class="button button-alt" ng-click="clearFTDetails()" value="Clear" />
                <input type="button" ng-click="saveFTDetails()" value="Save" />
              </div>
            </div>
          </div>
        </div>
        
        <div class="exchanged-and-completed tab-pane" ng-show="showEC">
          <div class="row">
            <div class="col-md-3">
              <label>Date of Exchange</label>
              <input type="date" ng-model="propertyadmin.item.exchangedCompleted.dateExchange" />
            </div>
            <div class="col-md-3">
              <label>Keys Released</label>
              <select ng-model="propertyadmin.item.exchangedCompleted.keysReleased">
                <option>Yes</option>
                <option>No</option>
              </select>
            </div>
            <div class="col-md-3">
              <label>Invoice Number</label>
              <input type="text" ng-model="propertyadmin.item.exchangedCompleted.invoiceNumber" />
            </div>
            <div class="col-md-3">
              <label>Board Updated</label>
              <select ng-model="propertyadmin.item.exchangedCompleted.boardUpdated" ng-if="!propertyadmin.item.exchangedCompleted.boardUpdated">
                <option ng-repeat="option in ftOptions" ng-value="option">{{option==='No board'?option:(option | date:'dd/MM/yyyy')}}</option>
              </select>
              <input type="text" disabled="true" value="{{propertyadmin.item.exchangedCompleted.boardUpdated | date:'dd/MM/yyyy'}}" ng-if="propertyadmin.item.exchangedCompleted.boardUpdated" />
            </div>
            <div class="col-md-3">
              <label>Completed In Window</label>
              <select ng-model="propertyadmin.item.exchangedCompleted.soldInWindow">
                <option>Yes</option>
                <option>No</option>
              </select>
            </div>
            <div class="col-md-3">
              <label>Date of Completion</label>
              <input type="date" ng-model="propertyadmin.item.exchangedCompleted.dateCompletion" />
            </div>
            <div class="col-md-3">
              <label>Key Number</label>
              <input type="text" ng-model="propertyadmin.item.exchangedCompleted.keyNumber" />
            </div>
            <div class="col-md-3">
              <label>Completed on Dezrez</label>
              <select ng-model="propertyadmin.item.exchangedCompleted.dezrezCompleted">
                <option>Yes</option>
                <option>No</option>
              </select>
            </div>
          </div>
          
          <div class="row actions">
            <div class="col-12">
              <div class="flex-end">
                <input class="button button-alt" ng-click="clearECDetails()" value="Clear" />
                <input type="button" ng-click="saveECDetails()" value="Save" />
                <input type="button" ng-click="saveECDetails() || downloadPdf()" value="Download" />
              </div>
            </div>
          </div>
        </div>
        
        <div class="withdrawn tab-pane" ng-show="showW">
          <div class="row">
            <div class="col-md-3">
              <label>Date to Withdraw</label>
              <input type="date" ng-model="propertyadmin.item.withdrawn.dateWithdrawn" />
            </div>
            <div class="col-md-3">
              <label>Board Removed</label>
              <select ng-model="propertyadmin.item.withdrawn.boardRemoved" ng-if="!propertyadmin.item.withdrawn.boardRemoved">
                <option>No board</option>
                <option ng-repeat="date in boardDates" ng-value="date">{{date | date:'dd/MM/yyyy'}}</option>
              </select>
              <input type="text" disabled="true" value="{{propertyadmin.item.withdrawn.boardRemoved | date:'dd/MM/yyyy'}}" ng-if="propertyadmin.item.withdrawn.boardRemoved" />
            </div>
            <div class="col-md-3">
              <label>Email to Staff</label>
              <select ng-model="propertyadmin.item.withdrawn.emailToStaff">
                <option>Yes</option>
                <option>No</option>
              </select>
            </div>
            <div class="col-md-3">
              <label>Window Card Removed</label>
              <select ng-model="propertyadmin.item.withdrawn.windowCardRemoved">
                <option>Yes</option>
                <option>No</option>
              </select>
            </div>
            <div class="col-md-3">
              <label>Letter Confirming Withdrawal</label>
              <select ng-model="propertyadmin.item.withdrawn.letterConfirming">
                <option>Yes</option>
                <option>No</option>
              </select>
            </div>
            <div class="col-md-3">
              <label>Dezrez Updated</label>
              <select ng-model="propertyadmin.item.withdrawn.dezrezUpdated">
                <option>Yes</option>
                <option>No</option>
              </select>
            </div>
            <div class="col-md-3">
              <label>Property Info File Moved</label>
              <select ng-model="propertyadmin.item.withdrawn.infoFileMoved">
                <option>Yes</option>
                <option>No</option>
              </select>
            </div>
          </div>
          
          <div class="row actions">
            <div class="col-12">
              <div class="flex-end">
                <input class="button button-alt" ng-click="clearWDetails()" value="Clear" />
                <input type="button" ng-click="saveWDetails()" value="Save" />
                <input type="button" ng-click="saveWDetails() || downloadPdf()" value="Download" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    
    <div class="contacts" id="contacts">
      <div class="row">
        <h2><i class="fa-duotone fa-light fa-address-card"></i> Contacts</h2>
      </div>
      <div class="row case-row">
        <div class="col-lg-3 col-md-6">
          <contact-details title="Vendor's Solicitor"></contact-details>
        </div>
        <div class="col-lg-3 col-md-6">
          <contact-details title="Vendor's Contact"></contact-details>
        </div>
        <div class="col-lg-3 col-md-6">
          <contact-details title="Purchaser's Solicitor"></contact-details>
        </div>
        <div class="col-lg-3 col-md-6">
          <contact-details title="Purchaser's Contact"></contact-details>
        </div>
      </div>
    </div>

    <div class="case-notes" id="notes">
      <h2 class="orange">Case Notes</h2>
      <div class="case-note" ng-repeat="note in notesData = ( getNotes() | orderBy:&quot;-date&quot; ) | limitTo:notesLimit:notesLimit*(notesPage-1)">
        <div class="header-row">
          <div class="date"><img gravatar-src="note.user.local.email"/><span>{{note.user.displayName || note.user.local.email}}<br><span class="date">{{note.date | date:'mediumDate'}}, {{note.date | date:'shortTime'}}</span></span></div>
          <div class="actions">
            <a class="delete" href="" ng-click="deleteNote(note)" ng-show="auth.checkRoles([&quot;admin&quot;, &quot;superadmin&quot;]) &amp;&amp; !note.advanceTo"><i class="fa-light fa-duotone fa-trash"></i></a><a class="edit" href="" ng-click="editNote(note)" ng-show="auth.checkRoles([&quot;admin&quot;,&quot;superadmin&quot;]) &amp;&amp; !note.advanceTo"><i class="fa-light fa-duotone fa-pen"></i></a>
          </div>
        </div>
        <div class="note"> 
          <div class="details"><span ng-show="note.side">- {{note.side}}</span>
            <div class="note-body" ng-bind-html="note.text | markdown:true"></div>
          </div>
        </div>
      </div>
      <pagination class="pagination-sm pagination" total="notesData.length" ng-model="notesPage" page-size="notesLimit"></pagination>
      <div class="add-note">
        <code-mirror ng-model="note.text" options="{mode:markdown, lineWrapping:true}"></code-mirror>
        <button ng-click="addNote()">{{note.date?'Update':'Add'}} Note</button>
      </div>
    </div>
  </div>
</div>