.sms-schedule-route
  .event
    width 100%
    display grid
    grid-template-columns 1fr 1fr 1fr 0fr
    .numbers
      max-height 5em
      overflow hidden
      text-overflow ellipsis
      white-space pre-wrap