.landlord-route
  .controls
    margin-top 40px
  .email
    background none
    height auto
  .addresses
    width 100%
    .address
      background vs-grey
      color white
      margin-bottom 3px
      padding 0.5em
      border-radius 3px
  .l-form
    border: 1px solid #ccc;
    border-radius: 3px;
    background: #fff;
    padding: 40px;  