
<div class="template">
  <div class="container-xl">
    <h1>{{type==='email'?'Email':'Sms'}} template</h1>
      <form name="myForm" ng-submit="save()">
        <div class="row">
          <section class="col-md-4 col-sm-6">
            <label>Name</label>
            <input type="text" ng-model="template.item.name"/>
            <div class="subject" ng-show="type===&quot;email&quot;">
              <label>Subject</label>
              <input type="text" ng-model="template.item.subject"/>
            </div>
            <div class="from" ng-show="type===&quot;email&quot;">
              <label>From</label>
              <input type="text" ng-model="template.item.from"/>
            </div>
            <div>
              <input class="button" type="submit" value="Save"/>
              <button class="button" ng-click="cancel()">Cancel</button>
            </div>
          </section>

          <section class="col-md-8 col-sm-6">
            <label>Body</label>
            <code-mirror ng-model="template.item.body" options="{mode:lang, lineWrapping:true}"></code-mirror><small ng-show="type==='sms'">{{template.item.body.length || 0}} / 130</small>
          </section>
        </div>

        <div class="row">
          <div class="col-12">
            <h2 class="preview-title orange">Preview</h2>
            <section  class="email-preview" ng-if="type==='email'">   
              <template-render ng-model="template.item.subject" data="defaultData"></template-render>
              <jade-render ng-model="template.item.body" data="defaultData"></jade-render>
            </section>
            <section class="sms-preview" ng-if="type==='sms'">
              <template-render ng-model="template.item.body" data="defaultData"></template-render>
            </section>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>