.property-status-bar
  h2 {{property.details.Address.Number}} {{property.details.Address.Street }}, {{property.details.Address.Locality }}, {{property.details.Address.Town}} 
  .property-status.col-sm-4
    h3 My Status
    p Date of Instruction:
      span  {{property.details.DateInstructed | date:'mediumDate'}}
  .property-marketing.col-sm-4
    h3 Marketing
    .item.col-xs-6
      p Mail outs:
        span  {{property.mailouts}}
    .item.col-xs-6
      p Viewings:
        span  {{property.viewings.length}}
  .property-offers.col-sm-4
    h3 Offers
    p Offers received:
      span  {{property.offers.length}}
      