
<div class="marketing">
  <div class="container-xl">
    <h1><i class="fa-duotone fa-light fa-image-circle-plus"></i> Marketing Forms</h1>
    <div class="marketing-forms row">
      <div class="col-lg-8 col-md-10">
        <ul class="nav nav-pills mb-3" id="marketing-forms-tabs" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link button-alt active" id="new-sales-tab" data-bs-toggle="pill" data-bs-target="#new-sales" type="button" role="tab" aria-controls="new-sales" aria-selected="true">Sales Instruction</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link button-alt" id="new-lettings-tab" data-bs-toggle="pill" data-bs-target="#new-lettings" type="button" role="tab" aria-controls="new-lettings" aria-selected="false">Lettings Instruction</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link button-alt" id="reductions-tab" data-bs-toggle="pill" data-bs-target="#reductions" type="button" role="tab" aria-controls="reductions" aria-selected="false">Reductions</button>
          </li>
        </ul>
        <div class="tab-content" id="marketing-forms-tabs-content">
          <div class="tab-pane fade show active" id="new-sales" role="tabpanel" aria-labelledby="new-sales-tab">
            <div class="col-12">
              <h2>New Sales Instruction Form</h2>
              <div class="m-form">
                <form name="newSalesEmail" novalidate="novalidate" ng-submit="submitNewSales()" ng-hide="salesEmailSent">
                  
                  <div class="input-holder">
                    <label>Property Address</label>
                    <textarea name="address" ng-model="newSales.address"></textarea>
                  </div>
      
                  <div class="row">
                    <div class="input-holder col-sm-4">
                      <label>Property Price</label>
                      <input type="text" name="newSalesPropertyPrice" ng-model="newSales.newSalesPropertyPrice" placeholder="£" required="required"/>
                      <div class="error" ng-show="submitted &amp;&amp; newSalesEmail.newSalesPropertyPrice.$invalid">Please add the Property Price</div>
                    </div>
      
                    <div class="input-holder col-sm-4">
                      <label>Bedrooms</label>
                      <select name="bedrooms" ng-model="newSales.bedrooms" required="required">
                        <option value="" selected="selected">Please Select</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                      </select>
                      <div class="error" ng-show="submitted &amp;&amp; newSalesEmail.bedrooms.$invalid">Please select the amount of bedrooms</div>
                    </div>
      
                    <div class="input-holder col-sm-4">
                      <label>Property Type</label>
                      <select name="propertyType" ng-model="newSales.propertyType" required="required">
                        <option value="" selected="selected">Please Select</option>
                        <option value="Apartment">Apartment</option>
                        <option value="Terrace">Terrace</option>
                        <option value="Semi Detached">Semi Detached</option>
                        <option value="Detached">Detached</option>
                      </select>
                      <div class="error" ng-show="submitted &amp;&amp; newSalesEmail.propertyType.$invalid">Please select the property Type</div>
                    </div>
                  </div>
      
                  <div class="input-holder">
                    <label>VitalSpace URL</label>
                    <input type="text" name="newSalesPropertyUrl" ng-model="newSales.newSalesPropertyUrl" placeholder="https://..."/>
                  </div>
      
                  <div class="input-holder">
                    <label>Access Arrangements</label>
                    <textarea name="access" ng-model="newSales.access"></textarea>
                  </div>
      
                  <div class="controls">
                    <input class="button button-alt" type="submit" value="Submit"/>
                    <button type="button" ng-click="cancel()">Cancel</button>
                  </div>
      
                </form>
      
                <div class="success" ng-show="salesEmailSent">
                  <h2>Form Submitted Successfully</h2>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="new-lettings" role="tabpanel" aria-labelledby="new-lettings-tab">
            <div class="col-12">
              <h2>New Lettings Instruction Form</h2>
              <div class="m-form">
                <form name="newLettingsEmail" novalidate="novalidate" ng-submit="submitNewLettings()" ng-hide="lettingsEmailSent">
                  
                  <div class="input-holder">
                    <label>Property Address</label>
                    <textarea name="address" ng-model="newLettings.address"></textarea>
                  </div>
      
                  <div class="row">
                    <div class="input-holder col-sm-4">
                      <label>Property Price</label>
                      <input type="text" name="newLettingsPropertyPrice" ng-model="newLettings.newLettingsPropertyPrice" placeholder="£" required="required"/>
                      <div class="error" ng-show="submitted &amp;&amp; newLettingsEmail.newLettingsPropertyPrice.$invalid">Please add the Property Price</div>
                    </div>
      
                    <div class="input-holder col-sm-4">
                      <label>Bedrooms</label>
                      <select name="bedrooms" ng-model="newLettings.bedrooms" required="required">
                        <option value="" selected="selected">Please Select</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                      </select>
                      <div class="error" ng-show="submitted &amp;&amp; newLettingsEmail.bedrooms.$invalid">Please select the amount of bedrooms</div>
                    </div>
      
                    <div class="input-holder col-sm-4">
                      <label>Property Type</label>
                      <select name="propertyType" ng-model="newLettings.propertyType" required="required">
                        <option value="" selected="selected">Please Select</option>
                        <option value="Apartment">Apartment</option>
                        <option value="Terrace">Terrace</option>
                        <option value="Semi Detached">Semi Detached</option>
                        <option value="Detached">Detached</option>
                      </select>
                      <div class="error" ng-show="submitted &amp;&amp; newLettingsEmail.propertyType.$invalid">Please select the property Type</div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-holder col-sm-6">
                      <label>VitalSpace URL</label>
                      <input type="text" name="newLettingsPropertyUrl" ng-model="newLettings.newLettingsPropertyUrl" placeholder="https://..."/>
                    </div>
                    <div class="input-holder col-sm-6">
                      <label>Property Status</label>
                      <select name="propertyStatus" ng-model="newLettings.propertyStatus" required="required">
                        <option value="" selected="selected">Please Select</option>
                        <option>Furnished</option>
                        <option>Unfurnished</option>
                        <option>Part-Furnished</option>
                      </select>
                      <div class="error" ng-show="submitted &amp;&amp; newLettingsEmail.propertyType.$invalid">Please select the property Type</div>
                    </div>
                  </div>
      
                  <div class="input-holder">
                    <label>Access Arrangements</label>
                    <textarea name="access" ng-model="newLettings.access"></textarea>
                  </div>
      
                  <div class="input-holder">
                    <label>Property Notes</label>
                    <textarea name="propertyNotes" ng-model="newLettings.propertyNotes"></textarea>
                  </div>
      
                  <div class="controls">
                    <input class="button button-alt" type="submit" value="Submit"/>
                    <button type="button" ng-click="cancel()">Cancel</button>
                  </div>
      
                </form>
      
                <div class="success" ng-show="lettingsEmailSent">
                  <h2>Form Submitted Successfully</h2>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="reductions" role="tabpanel" aria-labelledby="reductions-tab">
            <div class="col-12">
            <h2>Price Reduction Form</h2>
            <div class="m-form">
              <form name="reductionEmail" novalidate="novalidate" ng-submit="submitReduction()" ng-hide="reductionEmailSent">
                <div class="row">
                  <div class="input-holder">
                    <label>Property Address</label>
                    <textarea name="address" ng-model="reduction.address"></textarea>
                  </div>
                </div>
                <div class="row">
                  <div class="input-holder half">
                    <label>New Property Price</label>
                    <input type="text" name="reductionPropertyPrice" ng-model="reduction.reductionPropertyPrice" placeholder="£" required="required"/>
                    <div class="error" ng-show="submitted &amp;&amp; reductionEmail.reductionPropertyPrice.$invalid">Please add the Property Price</div>
                  </div>
                </div>
                <div class="row">
                  <div class="controls right">
                    <input class="button button-alt" type="submit" value="Submit"/>
                    <button type="button" ng-click="cancel()">Cancel</button>
                  </div>
                </div>
              </form>
              <div class="success" ng-show="reductionEmailSent">
                <h2>Form Submitted Successfully</h2>
              </div>
            </div>
            </div>
          </div>
        </div>    
      </div>
    </div>
  </div>
</div>