.marketing
  padding 30px 0px
  h2.orange
    margin-bottom 5px
  .m-form
    border 1px solid vs-lightgrey
    border-radius 20px
    background vs-white
    padding 40px
  .controls
    margin-top 10px
  h3 
    font-size 1.6rem
    margin-bottom 5px