.setup
  padding-top 30px
  .setup-row
    margin-bottom 30px
  .email-templates, .sms-templates, .setup-row
    .button
      margin-top 10px
  .email-template, .sms-template, .dashboard-item
    display flex
    align-items center
    background vs-white
    margin 0.5rem 0
    padding 0.8rem
    border-radius 8px
    .name
      flex 1
    a
      color inherit
      &:hover
        color vs-orange
    
  .progressions-controls
    display flex
    justify-content space-between
.template
  padding-top 30px
@media screen and (max-width:576px)
  .setup
    .sms-templates,
    .income
      margin-top 30px