.works-route
  .messages 
    display none
    &.newmessage
      display flex
      justify-content center
      align-items center
      width 1.4rem
      height 1.4rem
      border-radius 50%
      position absolute
      top 1.5rem
      right 10px
      background vs-grey
      font-size 0.8rem
      font-weight 300
      color white
  .status
    div
      opacity 0.2
      font-size 2rem
      margin-right 10px
      display inline-flex
    &.booked .booked
      opacity 1
    &.completed .completed
      opacity 1
    &.invoiced .invoiced
      opacity 1