
<div class="row">
  <h4>{{title}}</h4>
  <div class="contact-details">
    <div class="card">
      <a class="edit-btn" href="" ng-click="edit()" ng-hide="editing"><i class="fa-light fa-user-pen"></i></a>
      <div ng-show="data().ContactName || editing">
        <div class="contact-name">
          <span ng-hide="editing"><i class="fal fa-user-tie"> </i> {{data().ContactName}}</span>
          <input type="text" ng-model="data().ContactName" ng-show="editing" placeholder="Name"/>
        </div>
        <div class="communication">
          <div class="contact-telephone" ng-show="data().PrimaryTelephone.Value || editing">
            <span ng-hide="editing"><i class="fa-light fa-phone-rotary"></i> {{data().PrimaryTelephone.Value}}</span>
            <input type="text" ng-model="data().PrimaryTelephone.Value" ng-show="editing" placeholder="Telephone"/>
          </div>
          <div class="contact-email" ng-show="data().PrimaryEmail.Value || editing">
            <span ng-hide="editing"><a class="mail-link" href="mailto:{{data().PrimaryEmail.Value}}"><i class="fa-light fa-circle-envelope"></i> {{data().PrimaryEmail.Value}}</a></span>
            <input type="email" ng-model="data().PrimaryEmail.Value" ng-show="editing" placeholder="Email"/>
          </div>
        </div>
        <div class="controls" ng-show="editing">
          <button ng-click="confirm()">OK</button>
          <button ng-click="cancel()">Cancel</button>
        </div>
      </div>
      <div ng-hide="data().ContactName || editing">
        <div class="role">No details set</div>
      </div>
    </div>
  </div>
</div>