.setup-route
  .jobtypes
    h2 Job types
    code-mirror(ng-model='jobtypes.item.jobs', options='{mode:"text"}', callbacks='jobCallbacks')
  .users
    h2 Users
    .row
      .users
        .user(ng-repeat='user in myusers = (users.items | filter:"!superadmin" | filter:"!cors")') 
          img(gravatar-src='user.local.email') 
          span {{user.displayName || user.local.email}}
      .add-user
        h3 Invite user
        form(name='addUserForm', ng-submit='addUser()')
          .row
            input(type='email', ng-model='newUser.local.email', placeholder='Email address')
            select(ng-model='newUser.role')
              option(value='agency', selected) Agency
              option(value='maintenance') Maintenance
              option(value='admin') Admin
          input(type='submit', value='Invite')
        .invite-error {{inviteError}}
        .invite-url(ng-show='inviteUrl')
          p An email has been sent or you can copy and paste the url below
          .row
            input(type='text', ng-model='inviteUrl')
            button(ng-click='copyInviteToClipboard()') Copy