<div class="profile mt-5">
  <div class="container-xl">
    <h1><i class="fa-duotone fa-light fa-user-gear"></i> Profile</h1>
    <div class="row">
      <div class="form-holder col-sm-6">
        <form name="myform" ng-submit="submit()">
          <label>Display name</label>
          <input type="text" ng-model="user.item.displayName" />
          <label>Telephone</label>
          <input type="text" ng-model="user.item.telephone" />
          <input type="submit" class="button button-alt mt-3" value="Submit" />
        </form>
      </div>
    </div>
  </div>
</div>