
<div class="maintenance-calendar-dir">
  <div class="controls"><a href="" ng-click="prev()"><i class="fa-light fa-chevron-left"></i> Prev</a><a href="" ng-click="goToToday()" class="today">Today</a><a href="" ng-click="next()">Next <i class="fa-light fa-chevron-right"></i></a></div>
  <div class="carousel" ng-if="weeks.length">
    <div class="week" ng-repeat="week in weeks">
      <div class="day" ng-repeat="day in week.days" ng-class="{selected:isSelected(day.day)}">
        <div class="day-name"> 
          <div class="desktop">{{day.day | date:'EEE, MMM d'}}</div>
          <div class="mobile">{{day.day | date:'EEE, MMM d'}}</div>
        </div>
        <div class="hours">
          <div class="hour" ng-repeat="hour in day.hours" ng-click="openTask({date:hour}, $event)">
            <div class="legend"> 
              <div class="desktop">{{hour | date:'ha'}}</div>
              <div class="mobile">{{hour | date:'ha'}}</div>
            </div>
          </div>
          <maintenance-task class="{{task.status}}" ng-repeat="task in day.tasks | filter:$root.selectedUser | byStatus:filters" style="top:{{task.top}}rem; height:calc({{task.height}}rem + 1px)" ng-click="openTask(task, $event)"></maintenance-task>
        </div>
        <div class="income">{{income = calculateDailyIncome(day.day); ''}}
          <div class="desktop">
            <div class="income-item">
              <label>Income</label><span>{{income.amount | currency:'£'}}</span>
            </div>
            <div class="income-item">
              <label>Target</label><span>{{income.target | currency:'£'}}</span>
            </div>
            <div class="income-item">
              <label>+/-</label><span class="total" ng-class="{loss:income.profitLoss&lt;0}">{{income.profitLoss | currency:'£'}}</span>
            </div>
          </div>
          <div class="mobile">
            <div class="income-item">
              <label>Income</label><span>{{income.amount | currency:'£':0}}</span>
            </div>
            <div class="income-item">
              <label>Target</label><span>{{income.target | currency:'£':0}}</span>
            </div>
            <div class="income-item">
              <label>+/-</label><span class="total" ng-class="{loss:income.profitLoss&lt;0}">{{income.profitLoss | currency:'£':0}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>